langchain
langchain-core
langchain-community

huggingface-hub
langchain-ollama
langchain-huggingface

sentence-transformers

chromadb
tiktoken
python-dotenv

pypdf
grandalf

numpy
pydantic
notebook
streamlit
scikit-learn
transformers